.tripPageHeader {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align:center;
    font-weight: normal;
}

.tripPageHeader2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align:center;
    font-weight: normal;
}

body {
    padding-left: 3rem;
    padding-right: 3rem;
}